name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20' # Use Node.js 20

      - name: Install dependencies
        run: npm install

      - name: Add execution permissions
        run: chmod +x node_modules/.bin/*

      - name: Build project
        run: npm run build

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
          # The repository name is 'lotus-bf-frontend-nickhung1222'
          # So the base path should be '/lotus-bf-frontend-nickhung1222/'
          # This is already set in vite.config.js
